<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
				<img src="~/images/ff_logo.png" style="height:30px"/>
				
            </div>
            <div class="col-md-6">
                <div class="text-md-end footer-links d-none d-sm-block" style="margin-top:5px;">
					<span class="Year">2024</span> &copy; <a href="https://intelligencefactory.ai">Intelligence Factory</a>
                </div>
            </div>
        </div>
    </div>
</footer>