<%using SimpleObjects.ks.html%>
<%SimpleObjectsPage.MetadataFile Leads.Meta.json%>

<%redefinefunction SimpleObjectsPage.FriendlyObjectsName
{
	(declare oCampaign (Campaigns.GetCampaign (Request.CampaignID)))
	(return (concat (oCampaign.Source.SourceName) " " (oCampaign.CampaignName)))
}%>


<%redefinefunction SimpleObjectsPage.Breadcrumbs
{
	(declare oCampaign (Campaigns.GetCampaign (Request.CampaignID)))

	(returnex{%>
<div class="row">
    <div class="col-md-6">
        <ol class="breadcrumb">
            <li><a href="/default.aspx">Main</a></li>
            <li><a href="/sources">Sources</a></li>
            <li><a href="/source?SourceID=<%oCampaign.SourceID%>"><%oCampaign.Source.SourceName%></a></li>
            <li><a href="/campaign?CampaignID=<%oCampaign.CampaignID%>"><%oCampaign.CampaignName%></a></li>
        </ol>
       </div>
    <div class="col-md-6">

        <ol class="breadcrumb" style="float:right;" id="lstRecent">
            <li>Recent:</li>
        </ol>
        </div>
</div>
	<%})
}%>



<%redefinefunction SimpleObjectsPage.GridInitializer
{
	(returnex{%>

        var oGrid = new JsonWsGrid3();
        Page.<%ObjectsName%>Grid = oGrid;
		oGrid.AllowPageSizeEditing = true;
        Page.Grids.Insert("<%ObjectsName%>", oGrid);

		ConfigureGrid(oGrid);



	<%})
}%>


<%redefinefunction SimpleObjectsPage.MainPanelTabs
{	
	(returnex{%>



<ul class="nav nav-tabs" id="ulFilters">
	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span id=""><i class="fa fa-plus-square-o"></i> </span></a>
		<ul class="dropdown-menu">
			<li><a href="javascript:CreateGridFilterImmediate({Filter : 'TagFilter', Operation : 'Equal' })">Tag</a></li>
			<li><a href="javascript:CreateGridFilterImmediate({Filter : 'SalesRepresentativeFilter',  BaseFilter: 'IntReaderFilter', PropertyName: 'SalesRepresentativeID', Operation : 'Equal' })">Sales Representative</a></li>
			<li><a href="javascript:CreateGridFilter('StateFilter')">Location - State</a></li>
			<li><a href="javascript:CreateGridFilter('CityFilter')">Location - City</a></li>
			<li><a href="javascript:CreateGridFilter('LastContactedDateFilter')">Last Contacted Date</a></li>
			<li><a href="javascript:CreateGridFilter('PriorityFilter')">Priority</a></li>
			<li><a href="javascript:CreateGridFilterImmediate({Filter : 'StatusFilter', Operation : 'Equal' })">Status</a></li>

			<li><a href="javascript:CreateGridFilter('TitleFilter')">Job Title</a></li>
			<li><a href="javascript:CreateGridFilter('FunctionFilter')">Job Function</a></li>
			
			<li><a href="javascript:CreateGridFilterImmediate({Filter : 'PhoneFilter', BaseFilter: 'StringReaderFilter', PropertyName: 'Phone', PropertyValue : 'Has Phone', Operation : 'NotEmpty' })">Has Phone</a></li>
			<li><a href="javascript:CreateGridFilterImmediate({Filter : 'EmailFilter', BaseFilter: 'StringReaderFilter', PropertyName: 'Email', PropertyValue : 'Has Email', Operation : 'NotEmpty' })">Has Email</a></li>


		</ul>
	</li>
</ul>

<script type="text/javascript">


</script>

	<%})
}%>

<%redefinefunction SimpleObjectsPage.AdditionalScripts
{
    (returnex{%>

<script type="text/javascript">
	var iSalesRepresentativeID = <% UserState.get_SalesRepresentativeID %>;

	Page.LocalSettings = {
		CampaignID:  <% Request.CampaignID%>,
		TagID: null, 
		StatusID: null,
		SortAscending: false,
		SortColumn: "LeadID",
		SearchFilters: null
	}

	Page.AddOnload(function () {
		new LocalStorage().set("LeadsPage", document.location.href);

//		_$("btnExport").removeClass("Hidden");
	})

	function ConfigureGrid(oGrid) {

		let oSettings = Page.LocalSettings;

		{
			oGrid.JsonWsGridMethod = "GetGridByCampaignIDHtml";
			oGrid.JsonWsCountMethod = "GetGridByCampaignIDCount";
			oGrid.ExtraParams = {
				CampaignID: oSettings.CampaignID
			};
		}

		if (null != Page.LocalSettings.Filters && Page.LocalSettings.Filters.ActiveFilters().length > 0) {
			oGrid.ExtraParams.SearchOptions = Page.LocalSettings.Filters.ActiveFilters();
			oGrid.JsonWsGridMethod = "GetGridByCampaignIDHtml2";
			oGrid.JsonWsCountMethod = "GetGridByCampaignIDCount2";
			console.log(oGrid.ExtraParams.SearchOptions);
		}

		oGrid.SortAscending = oSettings.SortAscending;
		oGrid.sort = oSettings.SortColumn;
        oGrid.ContentControlID = "div<%ObjectsName%>";
        oGrid.JsonWsUrl = '/JsonWs/<%Metadata.UINamespace%>.<%ObjectsName%>Admin.ashx';
        oGrid.SearchControlID = 'txtSearchTerm';
        oGrid.OnRowClick = OnClick<%ObjectName%>;
        oGrid.EmptyDataTemplateID = "div<%ObjectsName%>Empty";
        oGrid.StartRefreshing();
		oGrid.OnComplete = function() { OnFormatDate("divLeads")};
	}


</script>




<script type="text/javascript" src="/JsonWs/RPM.Leads.Portal.UI.LeadFilters.ashx.js?v=<%JsVersion%>"></script>

<script type="text/javascript">
	function CreateGridFilter(sFilter) {
		LeadFilters.GetFilterConfig(sFilter, function (sConfig) {
			_$("divGridFilterConfig").innerHTML = sConfig;
			BlindBind("divGridFilter", { Filter: sFilter });
			jQuery("#divGridFilter").modal('show');
		});
	}

	function CreateGridFilterImmediate(oOpts) {
		AddFilter(oOpts);
	}

	class GridFilters {
		Filters = [];

		SetFilter(filter) {
			if (!StringUtil.IsEmpty(filter.ID)) {
				let i = this.Filters.findIndex(x => x.ID == filter.ID);
				if (i >= 0)
					this.Filters[i] = filter
				else {
					filter.ID = StringUtil.UniqueID();
					this.Filters.push(filter);
				}
			}
			else {
				filter.ID = StringUtil.UniqueID();
				this.Filters.push(filter);
			}

			return filter;
		}

		RemoveFilter(filter) {
			let i = this.Filters.findIndex(x => x.ID == filter.ID);

			if (i >= 0)
				this.Filters.splice(i, 1);

		}

		GetFilter(id) {
			let i = this.Filters.findIndex(x => x.ID == id);
			if (i >= 0)
				return this.Filters[i];

			return null;
		}

		ActiveFilters() {
			return this.Filters.filter(x => x.PropertyValue != null || ["NotEmpty", "IsEmpty"].contains(x.Operation));
		}
	}

	
	Page.LocalSettings.Filters = new GridFilters();


	function OnAddFilter() {
		let filter = BlindUnbind("divGridFilter");

		AddFilter(filter);
	}

	function AddFilter(filter) {
		filter = Page.LocalSettings.Filters.SetFilter(filter);

		jQuery("#divGridFilter").modal('hide');

		OnBindFilters();

		if (!StringUtil.IsEmpty(filter.PropertyValue) || ["IsEmpty", "NotEmpty"].contains(filter.Operation)) {
			if (StringUtil.IsEmpty(filter.Display))
				filter.Display = filter.PropertyValue;

			OnSelectFilterValue(filter.ID, filter.PropertyValue, filter.Display);
			
		}
	}

	function OnRemoveFilter() {
		let filter = BlindUnbind("divGridFilter");
		Page.LocalSettings.Filters.RemoveFilter(filter);
		jQuery("#divGridFilter").modal('hide');
		if (_$("divFilter_" + filter.ID) != null)
			_$("divFilter_" + filter.ID).remove();
		OnBindFilters();
	}

	function OnEditFilter(sID) {
		let filter = Page.LocalSettings.Filters.GetFilter(sID);

		LeadFilters.GetFilterConfig(filter.Filter, function (sConfig) {
			_$("divGridFilterConfig").innerHTML = sConfig;
			BlindBind("divGridFilter", filter);
			jQuery("#divGridFilter").modal('show');
		});

	}

	function OnBindFilters() {
		let filters = Page.LocalSettings.Filters.Filters;

		filters.forEach(filter => {
			if (_$("divFilter_" + filter.ID) != null)
				_$("divFilter_" + filter.ID).remove();

			let sHTML = LeadFilters.GetFilterDropDown(filter.Filter, filter)
			_$("ulFilters").innerHTML = sHTML + _$("ulFilters").innerHTML;

			if (!StringUtil.IsEmpty(filter.Display))
				_$("divFilter_" + filter.ID + "_Display").innerHTML = filter.Display;

		});
	}

	function OnSelectFilterValue(id, value, display, operation) {
		let filter = Page.LocalSettings.Filters.GetFilter(id);
		filter.PropertyValue = value; 
		filter.Display = display;
		if (operation)
			filter.Operation = operation;

		_$("divFilter_" + filter.ID + "_Display").innerHTML = display;

		ConfigureGrid(Page.LeadsGrid);
		Page.LeadsGrid.Refresh(true);
	}

</script>

	<%LeadsAdmin.GetBulkUpdateStatusModal%>
	<%LeadsAdmin.GetBulkAssignModal%>
	<%LeadsAdmin.GetBulkAddTagModal%>

<script type="text/javascript" src="/JsonWs/FeedingFrenzy.Admin.Business.LeadTags.ashx.js"></script>
<script type="text/javascript" src="/js/lead_bulk_operations.js"></script>


    <%})
}%>
    <%})
}%>



<%redefinefunction SimpleObjectsPage.AdditionalCommands
{
	(returnex{%>
		<button value="" class="Hidden btn btn-primary-alt btn-label" id="btnExport" onclick="OnExport<%ObjectsName%>()"><i class="fa fa-file"></i> Export <%FriendlyObjectsName%></button>

  		<div class="dropdown Hidden SelectControls" style="display: inline;">
		  <button class="btn btn-primary-alt dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="">
			Bulk Actions <span class="caret"></span>
		  </button>
		  <ul  class="dropdown-menu">
				<li><a class="dropdown-item" href="javascript:OnBulkAssignLeads()">Reassign Leads</a></li>
				<li><a class="dropdown-item" href="javascript:OnBulkUpdateStatus()">Update Status</a></li>
				<li><a class="dropdown-item" href="javascript:OnBulkAddTag()">Add Tag</a></li>
			</ul>
		</div>

        <button type="button" class="btn btn-primary-alt hidden" onclick="OnShowSearchFilters()"><i class="fa fa-search-plus"></i> Search Filters</button>


  	<%})
}%>

<%declare oPermission (UserState.get_Permission)%>
<%SimpleObjectsPage.AllowInsert (oPermission.InsertLead)%>

<%redefinefunction SimpleObjectsPage.AllowSelectingRows
{
	(return (oPermission.AllowBulkLeadOperations))
}%>


<%redefinefunction SimpleObjectsPage.SearchOptionsRight 
{
	
	(returnex{%>
	
	<button value="" class="btn btn-primary-alt btn-label" id="btnExportView" onclick="OnExportView(this)"><i class="fa fa-file"></i> Export </button>

<script type="text/javascript">
	

  function tableToArray(table) {
    let array = [];

    // Iterate through each row
    for (let i = 0, row; row = table.rows[i]; i++) {
      let rowData = [];

      // Iterate through each cell
      for (let j = 0, cell; cell = row.cells[j]; j++) {
        rowData.push(cell.innerText);
      }

      array.push(rowData);
    }

    return array;
  }
	function OnExportView(ctrl) {
		ctrl.disabled = true;
		UserMessages.DisplayNow("Exporting", "Info");

		let table = $$("#divLeads table.Grid")[0];

		let data = tableToArray(table);

		LeadsValidators.ExportLeadView.JSON.Validators = [];
		Leads.ExportLeadView("<%SimpleObjectsPage.FriendlyObjectsName%> Export", JSON.encode(data), function (sSheetID) {
			ctrl.disabled = false;
			Page.Redirect("https://docs.google.com/spreadsheets/d/" + sSheetID + "/edit#gid=0", {}, "_blank");
		});
	}


</script>
	<%})
}%>
